
div {
	padding: 24px;
	background-color: #fff;
	width: 450px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
	
body {
	background-color: #f3f3f3;
}	

li,p,h3{
	text-align: left;
}
p {
	font-size: 18px;
}